.idea/
weatherlearn/models/__pycache__/
weatherlearn/models/pangu/__pycache__/
weatherlearn/models/pangu/utils/__pycache__/
tests/models/pangu/__pycache__/
examples/pangu_lite/data
dist/
weatherlearn/data_utils/__pycache__/